<% provide(:title, "Contact") %>
<div>
	<h1> Welcome to our sale webpage </h1>
	<p> Please contact us via : </p>
	<ul>
		<li> Number: +84 - 125 945 6912 </li>
		<li> Email : <a href="mailto:ng.huyminh91@gmail.com"> Minh Nguyen </a>
	</ul>

</div>