<% provide(:title, "Home") %>

<div class="center jumbotron">
	<h1> Welcome to our sale webpage </h1> <br>
</div>  

<marquee>
  <% @items.each do |item| %>
    <%= link_to image_tag(item.image.url(:thumb)), item %>
  <% end %>
</marquee>
<br>

<% if logged_in? %>
  <%= link_to "Add your items", new_path, class: "btn btn-lg btn-primary" %>
<% end %>


<table class="item_table">
  <thead>
    <tr>
      <th class="row-name">Name</th>
      <th class="row-description">Description</th>
      <% if logged_in? %>
      <th colspan="3">Option</th>
      <% else %>
      <th class="row-option">Option</th>
      <% end %>

    </tr>
  </thead>

  <tbody>
    <% @items.each do |idx_item| %>
      <tr>
        <td><%= idx_item.name %></td>
        <td><%= idx_item.description %></td>
        <td><%= link_to 'Show', idx_item %></td>
        <% if logged_in? %>
          <td><%= link_to 'Edit', edit_item_path(idx_item) %></td>
          <td><%= link_to 'Destroy', idx_item, method: :delete, data: {   confirm: 'Are you sure?' } %></td>
        <% end %>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

