<% provide(:title, "Log in") %>


<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1> Log in</h1>
    <%= form_for(:session, url: login_path) do |f| %>
      <%= f.label  :"User name" %>
      <%= f.text_field :user_name, class: "form-control" %>

      <%= f.label  :"Password" %>
      <%= f.password_field :password, class: "form-control" %>

      <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>

  </div>
</div>