<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />

    <style>
      .comment_content {
        width: 50%;
        white-space: pre-line;
      }
    </style>

  </head>
  <body>
    <h3>Hello Trinh</h3>
    <p> I hope this email finds you well to day. </p>
    <p> <%= @comment.user_name %> just has commented :  </p>

    <div class="comment_content"> 
      <%= @comment.content %>  
    </div>
    
    <p> You can see full of the comment by clicking <%= link_to "here", @item %> </p>
    
    <p> 
      Thank you, <br>
      Best regards.
    </p>
    <address>
      ---- <br>
      Amatuer fullstack developer <br>
      Nguyen Huy Minh <br>
    </address>
  </body>
</html>