Hello Trinh

I hope this email finds you well to day.

<%= @comment.user_name %> just has commented : <%= @comment.content%>

You can see full comment by clicking <%= link_to "here", @item %>

-----
Amatuer fullstack developer
Nguyen Huy Minh 