<% if @item.errors.any? %>
  <div id="error_explanation">
      <div class="alert alert-danger">
        The form contains <%= pluralize(@item.errors.count, "error") %>.
      </div>
      <ul>
        <% @item.errors.full_messages.each do |msg| %>
          <li> <%= msg %> </li>
        <% end %>
      </ul>
  </div>
<% end %>