
<%= form_for Comment.new, url: item_comments_path(@item) do |f| %>
  <%= f.label :'Name' %>
  <%= f.text_field :user_name, class: 'form-control custom-form' %>
      
  <%= f.label :content %> 
  <%= f.text_area :content, class: 'form-control custom-form'  %>
  

  <% if local_assigns[:form_type] == "Comment" %>
  	<%= f.hidden_field :source_type, :value => 'Item' %>
  	<%= f.hidden_field :source_id, :value => @item.id %>

  <% elsif local_assigns[:form_type] == "Reply" %>
	  <%= f.hidden_field :source_type, :value => 'Comment' %>
  	<%= f.hidden_field :source_id, :value => @comment_id %>
  <% end %>
  <%= f.submit local_assigns[:form_type] , class: "btn btn-primary custom-btn" %>
<% end %>
