
<%= render 'shared/item_error_message' %>
<%= form_for(@item) do |f| %>
	<%= f.label :name %>
	<%= f.text_field :name, class: 'form-control' %>
			
	<%= f.label :description %>	
	<%= f.text_area :description, class: 'form-control'	 %>
	
	<%= f.label :'Item image (less than 1 MB)'%>
	<%= f.file_field :image, class: 'form-control' %>
	<%= f.submit yield(:button_text) , class: "btn btn-primary" %>
<% end %>