var format_type = "<%= j (params[:type]) %>"


$('#task-form').slideUp(350);

if (format_type == "comment") {
  // alert(format_type)
  $('#form_comment').html("<%= j (render :partial => 'sub_form_comment') %>");
} else if (format_type == "reply") {
  // alert(format_type)
  $('#form_comment').html("<%= j (render :partial => 'sub_form_reply') %>");
} 
