<% provide(:title, @item.name) %>


<h1> <%= @item.name %> </h1>

<h4 class="item_data">
<% if logged_in? %>
  <%= link_to image_tag('edit-icon.png', size: '20x20', alt: 'edit icon') +  'Edit', edit_item_path(@item) %>
<% end %>
</h4>

<p>
<%= link_to image_tag('facebook_icon.png', size: "50x50", alt: 'facebook logo'), 'http://www.facebook.com/sharer.php?u='+ request.original_url, :target => :blank  %>

<%= link_to image_tag('google_plus_icon.png', size: "70x70" , alt: 'G+ logo'), 'https://plus.google.com/share?url=' + request.original_url %>
</p>

<p> <%= image_tag @item.image.url(:medium), :class  => "style_image" %> </p>

<div class="description"> <%= @item.description %> </div>

<br>

<p> <strong> Comments </strong> </p>
<%= link_to "Add your comment" , item_path(@item, type: 'comment'),  remote: true %>

<% @item.comments.each do |comment| %>
  <table class="comment_table">  
    <thead>
      <tr>
        <th> <%= comment.user_name %>  </th>
        <% if logged_in? %>
        <td> <%= link_to 'Destroy', "#{@item.id}/comments/#{comment.id}" ,  method: :delete, data: {   confirm: 'Are you sure?' } %> </td>


        <% else %>
        <!-- This is used for decoration, nothing else -->  
        <td> </td>

        <% end %>

      </tr> 
    </thead>

    <tbody>
      <tr> 
        <td> <%= comment.content %> </td>
      </tr>
      <% @replies.each do |reply| %>
        <% if comment.id == reply.source_id  %>
          <tr> 
            <td style="padding-left: 25px; width:50%; word-wrap:break-word"> <strong> <%= reply.user_name %> </strong> </td>
          </tr>          

          <tr> 
            <td style="padding-left: 50px; width: 50%; word-wrap:break-word"> <%= reply.content %> </td>
          </tr>

        <% end %>
      <% end %>
      
      <tr> <td style="padding-left: 25px"> <%= link_to "Reply" , item_path(@item, type: 'reply', :comment_id => comment.id ), remote: true %> </td> </tr>
    </tbody>
  </table>  
<br>  
<% end %>

<div id="task-form"> </div> 
<div id="form_comment"> </div>


<br>
<br>
