@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  padding-top: 30px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 5px;
}




/* forms */

input, textarea, select, .uneditable-input {
  border: 10px solid #bbb;
  width: 100%;
  margin-bottom: 30px;

}

input {
  height: auto !important;
}

/* footer */

.footer, .push {
    height: 142px; /* .push must be the same height as .footer */
}