// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.style_image {
    
    border-right: 1px soild;
    margin: 0px 15px 15px 0px;
    margin-top: 15px;
}


.description {
  white-space: pre-line;
  width: 60%;
}

h4.item_data {
  padding-left: 100px;
}