// Place all the styles related to the SalePages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.item_table {
}

.item_table th {
  border: 0px solid black;
  padding-left: 10px;
  height: 50px;
  text-align: left;
}

.item_table td {
  border: 0px solid black;
  padding-left: 10px;
  

  white-space: pre-line;
  table-layout: fixed;
  word-wrap: break-word;

  vertical-align: top;
  height: 40px;
  width: 60%;
  overflow: hidden;

}

table {
  border: 0px solid black;
  border-collapse: collapse;
  width: 70%;
  table-layout: fixed;
}

.row-description {
  width: 60%;
}

.row-name {
  width: 15%;
}

.row-option {
  width: 20%;
}